<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>WEB打印控件LODOP的样例四十三:演示综合表格分页打印</title>
    <link rel="stylesheet" href="__PUBLIC__/libs/layui/css/layui.css" media="all">
    <script language="javascript" src="__PUBLIC__/libs/print/LodopFuncs.js"></script>
    <link rel="stylesheet" href="__ADMIN_CSS__/common.css"  >
    <style id="style1">


        .nav-btn {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            margin-top: 30px;
        }

        .form-head-row {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: nowrap;
            margin-bottom: 5px;
            padding: 0 20px;
            font-size: 14px
        }

        .form-head-row .form-item {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
        }

        .form-head-row .form-item .title {
            width: 80px;

        }

        .form-head-row .form-item .input-content {
            position: relative;
            flex: 4.5;
        }

        .form-head-row .form-item .input-content .data-show {
            width: 100%;
        }

        #table thead tr th, #table tr td {
            /*padding: 0 !important;*/
            border: solid 2px black;
            text-align: center;
            font-size: 14px;
            text-align: center;
        }

        tr th div,tr td div {
            position: relative;
            display: inline-block;
            height: 100%;
            width: 100%;
            margin: 0;
            text-align: center;
        }

        .data-select input, .data-select select {
            display: block;
            margin: 0;
            width: 100%;
            height: 26px;
            border: none;
        }

        .data-select i {
            position: absolute;
            z-index: 11;
            right: 0px;
            top: 3px;
            background-color: #eee;
            border-radius: 3px;
            cursor: pointer;
            height: 20px;
            line-height: 20px;
            width: 30px;
            text-align: center;
        }


    </style>

</head>
<body>


<div class=" " id="page" style="width: 90%;margin: 0 5%;">


    <div class=" demoTable nav-btn ">
        <button class="layui-btn layui-btn-small   " onclick="exporExcel('材料出库单时序薄','#print-table')">导出</button>
        &nbsp;
        <button class="layui-btn layui-btn-small  layui-btn-warm " @click="query()">查询</button>
        &nbsp;
        <button class="layui-btn layui-btn-normal layui-btn-small" @click="reload()">刷新</button>
        &nbsp;
        <button class="layui-btn layui-btn-primary layui-btn-small" @click="print()">打印</button>
    </div>

    <div id="div1">

        <div class="layui-row" style=" text-align: center">
            <span style="display: inline-block;font-size: 24px;border-bottom: 2px solid #000;margin: 10px auto;text-decoration:underline">库&nbsp;&nbsp;存&nbsp;&nbsp;商&nbsp;&nbsp;品&nbsp;&nbsp;明&nbsp;&nbsp;细&nbsp;&nbsp;账</span>
        </div>

        <div class="form-head-row">
            <div class="form-item " style="">
                <span class="title" style="">商品代码:</span>
                <div class="input-content " @click="dataInputShow($event)" @mouseleave="dataInputHide($event)">
                    <div class="data-show" style="">&nbsp;{{headInfo.order_id}}</div>
                    <div class="data-select" style="display: none;width: 100%;">
                        <input type="text" style="" v-model="headInfo.order_id"/>
                        <i class="layui-icon" style="font-size: 12px; color: #1E9FFF;" @click="selectGoodsList()">&#xe615;</i>
                    </div>
                </div>
            </div>

            <div class="form-item " style="">
                <span class="title" style="">日期:</span>
                <div class="input-content ">
                    <div class="data-select" style="width: 100%;">
                        <input type="date" id="date" style="display: inline-block;width: 130px ;text-align: right;" v-model="headInfo.order_date"/>
                        <span style="margin-right: 30px">-</span>
                        <input type="date" id="date1" style="display: inline-block;width: 130px;text-align: center" v-model="headInfo.order_date"/>
                    </div>
                </div>
            </div>

            <div class="form-item " style="">
                <span class="title" style="">计量单位:</span>
                <div class="input-content ">
                    <div class="data-select" style="width: 100%;">
                        <input type="text" style="" v-model="headInfo.goods_min_unit" readonly
                               @change="checkOrderId(headInfo.goods_min_unit)"/>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-head-row">

            <div class="form-item " style="">
                <span class="title" style="">商品名称:</span>
                <div class="input-content " @click="dataInputShow($event)" @mouseleave="dataInputHide($event)">
                    <div class="data-show" style="">&nbsp;{{headInfo.goods_name}}</div>
                    <div class="data-select" style="display: none;width: 100%;">
                        <input type="text" style="" v-model="headInfo.goods_name"/>
                        <i class="layui-icon" style="font-size: 12px; color: #1E9FFF;" @click="selectGoodsList()">&#xe615;</i>
                    </div>
                </div>
            </div>

            <div class="form-item " style="flex: 2">
                <span class="title" style="">规格型号:</span>
                <div class="input-content ">
                    <div class="data-select" v-model="headInfo.goods_spec"/>
                </div>
            </div>



        </div>


    </div>

    <div id="div2">
        <div class="layui-form layui-border-box layui-table-view" style="width:100%; height: 650px !important;">
            <div class="layui-table-header" id="fixed-header">
                <table cellspacing="0" cellpadding="0" border="0" class="layui-table">
                    <thead>
                    <tr>
                        <th rowspan="2">
                            <div style=" width: 100px">
                                单据日期
                            </div>
                        </th>
                        <th  rowspan="2">
                            <div style=" width: 150px">
                                单据类型
                            </div>
                        </th>
                        <th  rowspan="2">
                            <div style=" width: 200px">
                                单据编号
                            </div>
                        </th>
                        <th  rowspan="2">
                            <div style=" width: 50px">
                                单位
                            </div>
                        </th>
                        <th  colspan="4">
                            <div style=" width: 100px">
                                本期收到
                            </div>
                        </th>
                        <th  colspan="4" >
                            <div style=" width: 100px">
                                本期发出
                            </div>
                        </th>
                        <th  colspan="4" >
                            <div style=" width: 100px">
                                本期结存
                            </div>
                        </th>

                    </tr>
                    <tr>
                        <th >
                            <div style=" width: 100px">
                                数量
                            </div>
                        </th>
                        <th >
                            <div style=" width: 100px">
                                重量
                            </div>
                        </th>
                        <th >
                            <div style=" width: 100px">
                                单价
                            </div>
                        </th>
                        <th >
                            <div style=" width: 100px">
                                金额
                            </div>
                        </th>
                        <th >
                            <div style=" width: 100px">
                                数量
                            </div>
                        </th>
                        <th >
                            <div style=" width: 100px">
                                重量
                            </div>
                        </th>
                        <th >
                            <div style=" width: 100px">
                                单价
                            </div>
                        </th>
                        <th >
                            <div style=" width: 100px">
                                金额
                            </div>
                        </th>
                        <th >
                            <div style=" width: 100px">
                                数量
                            </div>
                        </th>
                        <th >
                            <div style=" width: 100px">
                                重量
                            </div>
                        </th>
                        <th >
                            <div style=" width: 100px">
                                单价
                            </div>
                        </th>
                        <th >
                            <div style=" width: 100px">
                                金额
                            </div>
                        </th>

                    </tr>
                    </thead>
                </table>
            </div>

            <div class="layui-table-body layui-table-main" style=" height: 585px !important;" id="scroll">

                <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-size="sm">

                    <tbody>
                    <tr v-for="(item, index) in list">
                        <td>
                            <div style=" width: 100px">
                                {{index+1}}
                            </div>
                        </td>
                        <td>
                            <div style=" width: 150px">
                                数量
                            </div>
                        </td>
                        <td>
                            <div style=" width: 200px">
                                数量
                            </div>
                        </td>
                        <td>
                            <div style=" width: 50px">
                                数量
                            </div>
                        </td>
                        <td>
                            <div style=" width: 100px">
                                数量
                            </div>
                        </td>
                        <td>
                            <div style=" width: 100px">
                                数量
                            </div>
                        </td>
                        <td>
                            <div style=" width: 100px">
                                数量
                            </div>
                        </td>
                        <td>
                            <div style=" width: 100px">
                                数量
                            </div>
                        </td>
                        <td>
                            <div style=" width: 100px">
                                数量
                            </div>
                        </td>
                        <td>
                            <div style=" width: 100px">
                                数量
                            </div>
                        </td>
                        <td>
                            <div style=" width: 100px">
                                数量
                            </div>
                        </td>
                        <td>
                            <div style=" width: 100px">
                                数量
                            </div>
                        </td>
                        <td>
                            <div style=" width: 100px">
                                数量
                            </div>
                        </td>
                        <td>
                            <div style=" width: 100px">
                                数量
                            </div>
                        </td>

                        <td>
                            <div style=" width: 100px">
                                数量
                            </div>
                        </td>
                        <td>
                            <div style=" width: 100px">
                                数量
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div class="layui-table-fixed layui-table-fixed-l"  >
                <div class="layui-table-header">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-size="sm">
                        <thead>
                        <tr>
                            <th rowspan="2">
                                <div style=" width: 100px;height: 51px;line-height: 51px">
                                    单据日期
                                </div>
                            </th>
                            <th  rowspan="2">
                                <div style=" width: 150px">
                                    单据类型
                                </div>
                            </th>
                            <th  rowspan="2">
                                <div style=" width: 200px">
                                    单据编号
                                </div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="layui-table-body" style="height: 570px !important;; ">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-size="sm">
                        <tbody>
                        <tr v-for="(item, index) in list">
                            <td>
                                <div style=" width: 100px">
                                    {{index+1}}
                                </div>
                            </td>
                            <td>
                                <div style=" width: 150px">
                                    数量
                                </div>
                            </td>
                            <td>
                                <div style=" width: 200px">
                                    数量
                                </div>
                            </td>

                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <div class="print-content" style="display: none">
        <div id="print-headinfo">
            <div class="layui-row" style=" text-align: center">
                <span style="display: inline-block;font-size: 24px;border-bottom: 2px solid #000;margin: 10px auto;text-decoration:underline">库&nbsp;&nbsp;存&nbsp;&nbsp;商&nbsp;&nbsp;品&nbsp;&nbsp;明&nbsp;&nbsp;细&nbsp;&nbsp;账</span>
            </div>

            <div class="form-head-row">
                <div class="form-item " style="">
                    <span class="title" style="">商品代码:</span>
                    <div class="input-content " >
                        <div class="data-show" style="">&nbsp;{{headInfo.order_id}}</div>

                    </div>
                </div>

                <div class="form-item " style="">
                    <span class="title" style="">日期:</span>
                    <div class="input-content ">
                        <div class="data-show" style="">

                            <span style="margin-right: 30px">-</span>
                        </div>

                    </div>
                </div>

                <div class="form-item " style="">
                    <span class="title" style="">计量单位:</span>
                    <div class="input-content ">
                        <div class="data-show" style="">
                            {{headInfo.goods_min_unit}}
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-head-row">

                <div class="form-item " style="">
                    <span class="title" style="">商品名称:</span>
                    <div class="input-content " >
                        <div class="data-show" style="">&nbsp;{{headInfo.goods_name}}</div>

                    </div>
                </div>

                <div class="form-item " style="flex: 2">
                    <span class="title" style="">规格型号:</span>
                    <div class="input-content ">
                        <div class="data-show" style="">&nbsp;{{headInfo.goods_spec}}</div>

                    </div>
                </div>



            </div>


        </div>
        <div id="print-table">
            <table border=1 cellSpacing=0 cellPadding=1 width="100%" style="border-collapse:collapse;"
                   bordercolor="#333333">
                <thead>
                <tr>
                    <th rowspan="2">
                        <div style=" width: 100px">
                            单据日期
                        </div>
                    </th>
                    <th  rowspan="2">
                        <div style=" width: 100px">
                            单据类型
                        </div>
                    </th>
                    <th  rowspan="2">
                        <div style=" width: 150px">
                            单据编号
                        </div>
                    </th>
                    <th  rowspan="2">
                        <div style=" width: 50px">
                            单位
                        </div>
                    </th>
                    <th  colspan="4">
                        <div style=" width: 250px">
                            本期收到
                        </div>
                    </th>
                    <th  colspan="4" >
                        <div style=" width: 250px">
                            本期发出
                        </div>
                    </th>
                    <th  colspan="4" >
                        <div style=" width: 250px">
                            本期结存
                        </div>
                    </th>

                </tr>
                <tr>
                    <th >
                        <div style=" width: 50px">
                            数量
                        </div>
                    </th>
                    <th >
                        <div style=" width: 50px">
                            重量
                        </div>
                    </th>
                    <th >
                        <div style=" width: 50px">
                            单价
                        </div>
                    </th>
                    <th >
                        <div style=" width: 100px">
                            金额
                        </div>
                    </th>
                    <th >
                        <div style=" width: 50px">
                            数量
                        </div>
                    </th>
                    <th >
                        <div style=" width: 50px">
                            重量
                        </div>
                    </th>
                    <th >
                        <div style=" width: 50px">
                            单价
                        </div>
                    </th>
                    <th >
                        <div style=" width: 100px">
                            金额
                        </div>
                    </th>
                    <th >
                        <div style=" width: 50px">
                            数量
                        </div>
                    </th>
                    <th >
                        <div style=" width: 50px">
                            重量
                        </div>
                    </th>
                    <th >
                        <div style=" width: 50px">
                            单价
                        </div>
                    </th>
                    <th >
                        <div style=" width: 100px">
                            金额
                        </div>
                    </th>

                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in list">
                    <td>
                        <div style=" width: 100px">
                            {{index+1}}
                        </div>
                    </td>
                    <td>
                        <div style=" width: 100px">
                            数量
                        </div>
                    </td>
                    <td>
                        <div style=" width: 150px">
                            数量
                        </div>
                    </td>
                    <td>
                        <div style=" width: 50px">
                            数量
                        </div>
                    </td>
                    <td>
                        <div style=" width: 50px">
                            数量
                        </div>
                    </td>
                    <td>
                        <div style=" width: 50px">
                            数量
                        </div>
                    </td>
                    <td>
                        <div style=" width: 50px">
                            数量
                        </div>
                    </td>
                    <td>
                        <div style=" width: 100px">
                            数量
                        </div>
                    </td>
                    <td>
                        <div style=" width: 50px">
                            数量
                        </div>
                    </td>
                    <td>
                        <div style=" width: 50px">
                            数量
                        </div>
                    </td>
                    <td>
                        <div style=" width: 50px">
                            数量
                        </div>
                    </td>
                    <td>
                        <div style=" width: 100px">
                            数量
                        </div>
                    </td>
                    <td>
                        <div style=" width: 50px">
                            数量
                        </div>
                    </td>
                    <td>
                        <div style=" width: 50px">
                            数量
                        </div>
                    </td>

                    <td>
                        <div style=" width: 50px">
                            数量
                        </div>
                    </td>
                    <td>
                        <div style=" width: 100px">
                            数量
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>

</div>



</body>

<script src="__PUBLIC__/libs/jquery/2.x/jquery.js"></script>
<script src="__PUBLIC__/libs/vue/vue.js"></script>
<!--<script src="__PUBLIC__/libs/layui/layui.js" charset="utf-8"></script>-->
<script src="__PUBLIC__/libs/layer/layer.js" charset="utf-8"></script>
<script type="text/javascript" src="__ADMIN_JS__/common.js"></script>

<script>
    var LODOP; //声明为全局变量


    var _data = {
        scrollTop:0,
        scrollLeft:0,
        headInfo: {
            order_id:'',
            order_date:'',
            goods_min_unit:'',
            goods_name:'',
            goods_spec:'',
        },
        list:[
            {order_date:'2017-09-05',order_type:'销售出库单'},
            {item:'222'},
        ]
    };


    var vm = new Vue({
        el: '#page',
        data: _data,
        watch: {
            scrollTop: {
                handler: function (val, oldVal) {
                    $('.layui-table-fixed-l .layui-table-body table').css('margin-top',-val + 'px')
                    $('.layui-table-fixed-r .layui-table-body table').css('margin-top',-val + 'px')

                },
            },
            scrollLeft: {
                handler: function (val, oldVal) {
                    $('#fixed-header table').css('margin-left',-val + 'px')
                },
            },
        },
        methods: {
            init: function () {
                this.deleteItem(-1)
            },
            dataInputShow: function (event) {
                var ele = event.currentTarget;
                $(ele).children('div').hide();
                $(ele).children('.data-select').css('display', 'inline-block');
                $(ele).children('.data-select').children('input').focus();
            },
            dataInputHide: function (event) {
                var ele = event.currentTarget;
                $(ele).children('div').hide();
                $(ele).children('.data-show').css('display', 'inline-block');
            },
            deleteItem: function (index) {

                if (index >= 0) {
                    this.list.splice(index, 1);
                }

                for (var i = 0; i < this.list.length; i++) {
                    if (this.list[i].item === '') {
                        this.list.splice(i, 1)
                    }
                }


                var leng = this.list.length % 10 === 0 ? (this.list.length  === 0 ?10:0) : 10 - this.list.length % 10;


                for (var i = 0; i < leng +15; i++) {
                    this.list.push({
                        item:'222'
                    })
                }

            },
            reload: function () { //刷新
                location.reload();
            },
            query:function () {

            },
            print: function () { //打印
                LODOP = getLodop();
                LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_分页打印综合表格");

                var strMainStyle = '<link rel="stylesheet" href="__PUBLIC__/libs/layui/css/layui.css"  media="all">'
                strMainStyle += '<link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/main.css">'
                var strAllStyle = strMainStyle + "<style>" + document.getElementById("style1").innerHTML + "</style>";

                $('.print-content').show()
                LODOP.SET_PREVIEW_WINDOW(1, 2, 0, 1200, 800, "");//打印前弹出选择打印机的对话框
//                LODOP.SET_PRINT_PAGESIZE(2, '35cm', '11cm', 'CreateCustomPage');//纵(正)向打印，固定纸张

                LODOP.ADD_PRINT_TABLE($('#print-headinfo').height() + 30, 30, 750, 400,strAllStyle + $("#print-table").html());
                LODOP.SET_PRINT_STYLEA(0, "VOrient", 0);
                LODOP.SET_PRINT_STYLEA(0, "Horient", 3);
                LODOP.ADD_PRINT_HTM(30, 0, 750, 130,  strAllStyle + $('#print-headinfo').html());
                LODOP.SET_PRINT_STYLEA(0, "VOrient", 0);
                LODOP.SET_PRINT_STYLEA(0, "Horient", 2);
                LODOP.SET_PRINT_STYLEA(0, "ItemType", 1);
                LODOP.SET_PRINT_STYLEA(0, "LinkedItem", 1);
                $('.print-content').hide()
                LODOP.PREVIEW();
            },
            selectGoodsList: function () {
                var self = this;
                var childPageBody;
                layer.open({
                    type: 2,
                    skin: 'CLYM-style',
                    area: ['800px', '560px'],
                    title: '商品列表',
                    content: '/corethink/admin.php?s=/admin/public/goodsList/goods_type_name/产品',
                    success: function (layero, index) {
                        childPageBody = layer.getChildFrame('body', index);//建立父子联系
                    },
                    end: function () {
                        var ret = childPageBody.find('textarea#retData')
                        var retInfo = ret.val()
                        if (retInfo != '') {
                            retInfo = JSON.parse(retInfo)
                            var tableData = [];

                            for (var i = 0; i < self.tableInfo.length; i++) {
                                if (self.tableInfo[i].goods_id != '') {
                                    tableData.push(self.tableInfo[i])
                                }
                            }

                            for (var i = 0, leng = retInfo.length; i < leng; i++) {
                                var j = 0;
                                var l = self.tableInfo.length;

                                for (; j < l; j++) {

                                    if (self.tableInfo[j].goods_id == retInfo[i].goods_id) {
                                        break;
                                    }
                                }
                                console.log(j)
                                if (j == l) {
                                    tableData.push({
                                        goods_id: retInfo[i].goods_id,
                                        goods_name: retInfo[i].goods_name,
                                        goods_spec: retInfo[i].goods_spec,
                                        goods_actual_unit: retInfo[i].goods_min_unit,
                                        goods_entry_unit_price: retInfo[i].goods_cost_price,
                                        goods_entry_total_quantity: 0,
                                        goods_entry_total_price: 0,
                                        goods_rates: retInfo[i].goods_rates,
                                        goods_min_unit: retInfo[i].goods_min_unit,
                                        goods_weight: 0,
                                        goods_remark: '',

                                    });
                                }
                            }
                            console.log(tableData);
                            self.tableInfo = tableData;
                            self.deleteItem(-1);
                        }


                    }
                });
            },
        }
    })

    vm.init();

    $("#scroll").scroll(function(){
        vm.scrollTop = $(this).scrollTop()
        vm.scrollLeft = $(this).scrollLeft()

    });
</script>

</html>
