<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>供应商对账单</title>
    <link rel="stylesheet" href="__PUBLIC__/libs/layui/css/layui.css" media="all">
    <script language="javascript" src="__PUBLIC__/libs/print/LodopFuncs.js"></script>
    <link rel="stylesheet" href="__ADMIN_CSS__/common.css">
    <style id="style1">


        .nav-btn {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            margin-top: 30px;
        }

        .form-head-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            margin-bottom: 5px;
            padding: 0 20px;
            font-size: 14px
        }

        .form-head-row .form-item {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
        }

        .form-head-row .form-item .title {
            width: 80px;

        }

        .form-head-row .form-item .input-content {
            position: relative;
            flex: 4.5;
        }

        .form-head-row .form-item .input-content .data-show {
            width: 100%;
        }

          thead tr th,   tr td {
            padding: 0 !important;
            border: solid 2px black;
            text-align: center;
            font-size: 14px;
            text-align: center;
        }

        tr th div, tr td div {
            position: relative;
            display: inline-block;
            height: auto;
            min-height:25px;
            line-height: 25px;
            width: 100%;
            margin: 0;
            text-align: center;
        }

        .data-select input, .data-select select {
            display: block;
            margin: 0;
            width: 100%;
            height: 26px;
            border: none;
        }

        .data-select i {
            position: absolute;
            z-index: 11;
            right: 0px;
            top: 3px;
            background-color: #eee;
            border-radius: 3px;
            cursor: pointer;
            height: 20px;
            line-height: 20px;
            width: 30px;
            text-align: center;
        }


    </style>

</head>
<body>


<div class=" " id="page" style="width: 60%;margin: 0 auto;">

    <div class=" demoTable nav-btn ">
        <button class="layui-btn layui-btn-small  " onclick="exporExcel('收款单时序薄','#print-table')">导出</button>
        &nbsp;
        <button class="layui-btn layui-btn-small  layui-btn-warm " @click="query()">查询</button>
        &nbsp;
        <button class="layui-btn layui-btn-normal layui-btn-small" @click="reload()">刷新</button>
        &nbsp;
        <button class="layui-btn layui-btn-primary layui-btn-small" @click="print()">打印</button>
    </div>

    <div id="div1">

        <div class="layui-row" style=" text-align: center">
            <span style="display: inline-block;font-size: 24px;border-bottom: 2px solid #000;margin: 10px auto;text-decoration:underline">供&nbsp;&nbsp;应&nbsp;&nbsp;商&nbsp;&nbsp;对&nbsp;&nbsp;账&nbsp;&nbsp;单</span>
        </div>

        <div class="form-head-row">
            <div class="form-item ">
                <span class="title" style="">供&nbsp;应&nbsp;商:</span>
                <div class="input-content " @click="dataInputShow($event)" @mouseleave="dataInputHide($event)">
                    <div class="data-show" style="">&nbsp;{{headInfo.customer_name}}</div>
                    <div class="data-select" style="display: none;width: 100%;">
                        <input type="text" style="" v-model="headInfo.customer_name"/>
                        <i class="layui-icon" style="font-size: 12px; color: #1E9FFF;" @click="selectCustomerList()">
                            &#xe615;</i>
                    </div>
                </div>
            </div>
            <div class="form-item " style="flex: 1.8;justify-content: center;text-align: center">
                <span class="title" style="">日期:</span>
                <div class="input-content ">
                    <div class="data-select">
                        <input type="date" id="date" style="display: inline-block;width: 130px ;text-align: right;"
                               v-model="headInfo.start_date"/>
                        <span style="margin-right: 30px">-</span>
                        <input type="date" id="date1" style="display: inline-block;width: 130px;text-align: center"
                               v-model="headInfo.end_date"/>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <div id="div2">
        <div class="layui-form layui-border-box layui-table-view" style="width:100%; height: 650px !important;">
            <div class="layui-table-header" id="fixed-header">
                <table cellspacing="0" cellpadding="0" border="0" class="layui-table">
                    <thead>
                    <tr>
                        <th v-for="(item, index) in thead">
                            <div :style="{ width: item.width }">
                                {{item.title}}
                            </div>
                        </th>
                    </tr>

                    </thead>
                </table>
            </div>

            <div class="layui-table-body layui-table-main" style=" height: 585px !important;" id="scroll">

                <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-size="sm">
                    <tbody>
                    <tr v-for="(list_item, index) in list">
                        <td v-for="(thead_item, index) in thead">
                            <div :style="{ width: thead_item.width,height:'31px',minHeight:'31px' }" >
                                {{list_item[thead_item.key]}}&nbsp;
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="layui-table-fixed layui-table-fixed-l">
                <div class="layui-table-header">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-size="sm">
                        <thead>
                        <tr>
                            <th>
                                <div style=" width: 150px">
                                    单据类型
                                </div>
                            </th>
                            <th>
                                <div style=" width: 100px">
                                    单据日期
                                </div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="layui-table-body" style="height: 570px !important;; ">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-size="sm">
                        <tbody>
                        <tr v-for="(list_item, index) in list">
                            <td>
                                <div style=" width: 150px;height: 31px;min-height: 31px">
                                    {{list_item['order_type_name']}}&nbsp;
                                </div>
                            </td>
                            <td>
                                <div style=" width: 100px">
                                    {{list_item['order_date']}}
                                </div>
                            </td>

                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <div class="print-content" style="display:  none">

        <div id="print-table">
            <table id="table" border=1 cellSpacing=0 cellPadding=1 width="100%" style="border-collapse:collapse;"
                   bordercolor="#333333">
                <thead>
                <tr>
                    <th colspan="11" style="text-align: center;">
                        <span style="display: inline-block;font-size: 24px;border-bottom: 2px solid #000;margin: 10px auto;text-decoration:underline">供&nbsp;&nbsp;应&nbsp;&nbsp;商&nbsp;&nbsp;对&nbsp;&nbsp;账&nbsp;&nbsp;单</span>

                    </th>
                </tr>
                <tr>
                    <th colspan="11"  >
                        <div   style="display: inline-block;width: 40%;text-align: left">
                            供应商:{{headInfo.customer_name}}
                        </div>
                        <div   style="display: inline-block;width: 58%;text-align: right">
                            日期:
                            {{headInfo.start_date}}
                            <span style="margin: 0  30px">-</span>
                            {{headInfo.end_date}}
                        </div>
                    </th>

                </tr>

                <tr style="height: auto">
                    <th>
                        <div style="width: 40px;font-size: 12px">
                            序号
                        </div>
                    </th>
                    <th v-for="(item, index) in thead">

                        <div v-if="index === 0||index === 2" style="width: 150px;font-size: 12px">
                            {{item.title}}
                        </div>
                        <div v-else style="width: 80px;font-size: 12px">
                            {{item.title}}
                        </div>
                    </th>
                </tr>

                </thead>
                <tbody>
                <tr v-for="(list_item, index) in list">
                    <td>
                        <div style="font-size: 12px">
                            {{index+1}}
                        </div>
                    </td>
                    <td v-for="(thead_item, index) in thead">
                        <div style="font-size: 12px">
                            {{list_item[thead_item.key]}}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>


</body>

<script src="__PUBLIC__/libs/jquery/2.x/jquery.js"></script>
<script src="__PUBLIC__/libs/vue/vue.js"></script>
<!--<script src="__PUBLIC__/libs/layui/layui.js" charset="utf-8"></script>-->
<script src="__PUBLIC__/libs/layer/layer.js" charset="utf-8"></script>
<script type="text/javascript" src="__ADMIN_JS__/common.js"></script>

<script>
    var LODOP; //声明为全局变量


    var _data = {
        scrollTop: 0,
        scrollLeft: 0,
        headInfo: {
            customer_id:'',
            customer_name:'',
            start_date: getFirstAndEndDate().firstDay,
            end_date: getFirstAndEndDate().lastDay,
        },
        thead: [
            {key: "order_type_name", title: "单据类型", width: "150px"},
            {key: "order_date", title: "单据日期", width: "100px"},
            {key: "order_id", title: "单据编号", width: "150px"},
            {key: "order_remark", title: "摘要", width: "100px"},
            {key: "order_should_payment", title: "应付金额", width: "100px"},
            {key: "order_actual_payment", title: "实付金额", width: "100px"},
            {key: "order_deposit_price", title: "折扣额/税额", width: "100px"},
            {key: "end_should_payment", title: "期末应付", width: "100px"},
            {key: "department", title: "部门名称", width: "100px"},
            {key: "clerk_name", title: "业务员", width: "100px"},

        ],
        list: []
    };


    var vm = new Vue({
        el: '#page',
        data: _data,
        watch: {
            scrollTop: {
                handler: function (val, oldVal) {
                    $('.layui-table-fixed-l .layui-table-body table').css('margin-top', -val + 'px')
                    $('.layui-table-fixed-r .layui-table-body table').css('margin-top', -val + 'px')

                },
            },
            scrollLeft: {
                handler: function (val, oldVal) {
                    $('#fixed-header table').css('margin-left', -val + 'px')
                },
            },
        },
        methods: {
            init: function () {
                this.deleteItem(-1)
            },
            dataInputShow: function (event) {
                var ele = event.currentTarget;
                $(ele).children('div').hide();
                $(ele).children('.data-select').css('display', 'inline-block');
                $(ele).children('.data-select').children('input').focus();
            },
            dataInputHide: function (event) {
                var ele = event.currentTarget;
                $(ele).children('div').hide();
                $(ele).children('.data-show').css('display', 'inline-block');
            },
            deleteItem: function (index) {

                if (index >= 0) {
                    this.list.splice(index, 1);
                }

                for (var i = 0; i < this.list.length; i++) {
                    if (this.list[i].item === '') {
                        this.list.splice(i, 1)
                    }
                }


                var leng = this.list.length % 10 === 0 ? (this.list.length === 0 ? 10 : 0) : 10 - this.list.length % 10;


                for (var i = 0; i < leng + 15; i++) {
                    this.list.push({
                        order_type_name: '',
                        order_date: '',
                        order_id: '',
                        order_remark: '',
                        order_should_payment: '',
                        order_actual_payment: '',
                        order_deposit_price: '',
                        end_should_payment: '',
                        department: '',
                        clerk_name: '',
                    })
                }

                this.$nextTick(function(){
                    $('body').css('background','#fff');
                    $('#page').css('display','block');
                })

            },
            reload: function () { //刷新
                location.reload();
            },
            query: function () {
                var self = this;
                var start_date = self.headInfo.start_date ? self.headInfo.start_date : '0000-00-00';
                var end_date = self.headInfo.end_date ? self.headInfo.end_date : '9999-99-99'
                console.log(start_date + end_date)
                $.ajax({
                    url: '/corethink/admin.php?s=/admin/BaoBiao/supplierBill',
                    type: 'POST', //GET
                    async: true,    //或false,是否异步
                    data: {
                        start_date: start_date,
                        end_date: end_date,
                        customer_id:self.headInfo.customer_id
                    },
                    dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                    success: function (data, textStatus, jqXHR) {
                        console.log(data)
                        var data = eval('(' + data + ')');
                        if (data.error == '0000') {
                            self.list = data.list;
                            self.deleteItem(-1)
                        } else {
                            layer.msg('未查到数据');
                            console.log(data.error)
                        }
                    },
                    error: function (xhr, textStatus) {
                        console.log('错误')
                        console.log(xhr)
                        console.log(textStatus)
                    },
                    complete: function () {
                        console.log('结束')
                    }
                })


            },
            print: function () { //打印
                LODOP = getLodop();
                LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_分页打印综合表格");

                var strMainStyle = '<link rel="stylesheet" href="__PUBLIC__/libs/layui/css/layui.css"  media="all">'
                strMainStyle += '<link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/main.css">'
                var strAllStyle = strMainStyle + "<style>" + document.getElementById("style1").innerHTML + "</style>";

                $('.print-content').show()
                LODOP.SET_PREVIEW_WINDOW(1, 2, 0, 1200, 800, "");//打印前弹出选择打印机的对话框
                LODOP.SET_PRINT_PAGESIZE(2, '35cm', '11cm', 'CreateCustomPage');//纵(正)向打印，固定纸张

                LODOP.ADD_PRINT_TABLE(20, 5, 750, 600, strAllStyle + $("#print-table").html());
                LODOP.SET_PRINT_STYLEA(0, "VOrient", 0);
                LODOP.SET_PRINT_STYLEA(0, "Horient", 3);

                $('.print-content').hide()
                LODOP.PREVIEW();
            },

            selectCustomerList: function () {
                var self = this;
                var childPageBody;
                layer.open({
                    type: 2,
                    skin: 'CLYM-style',
                    area: ['500px', '560px'],
                    title: '列表',
                    content: '/corethink/admin.php?s=/admin/public/customerList/type/供应商',
                    success: function (layero, index) {
                        childPageBody = layer.getChildFrame('body', index);//建立父子联系
                    },
                    end: function () {
                        var ret = childPageBody.find('textarea#retData')
                        var retInfo = ret.val()
                        if (retInfo != '') {
                            retInfo = JSON.parse(retInfo)
                            self.headInfo.customer_id = retInfo.customer_id;
                            self.headInfo.customer_name = retInfo.customer_name;
                        }

                        console.log(retInfo)
                    }
                });
            },
        }
    })

    vm.init();

    $("#scroll").scroll(function () {
        vm.scrollTop = $(this).scrollTop()
        vm.scrollLeft = $(this).scrollLeft()

    });



</script>

</html>
