<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="__PUBLIC__/libs/layui/css/layui.css"  media="all">
</head>
<body>
<textarea  style="display: none" id="retData"></textarea>
<div class="layui-btn-group demoTable"style="width: 95%;text-align: right;margin-top: 10px">
    <span class="layui-btn layui-btn-small " data-type="getCheckData"   onclick="parent.layer.closeAll()" >确定</span>
</div>

<table id="table" lay-filter="table" style=""></table>


<script src="__PUBLIC__/libs/jquery/2.x/jquery.js"></script>
<script src="__PUBLIC__/libs/layui/layui.js" charset="utf-8"></script>
<script src="__PUBLIC__/libs/layer/layer.js" charset="utf-8"></script>

<script>

    var _data =   JSON.parse('{$_list}');

    for (var i = 0;i<_data.length ;i++){
        _data[i].id = i + 1;

    }
    var _cols = [[ //标题栏
        {checkbox: true},
        {field:'goods_type_name',title: '商品类型', width:100,edit: 'text'},
        {field:'goods_id',title: '商品编号', width:100,edit: 'text'},
        {field:'goods_name',title: '名称', width:100,edit: 'text'},
        {field:'goods_spec',title: '规格', width:100,edit: 'text'},
        {field:'goods_min_unit',title: '最小单位', width:100,edit: 'text'},
        {field:'goods_rates',title: '实际单位', width:100,edit: 'text'},
        {field:'goods_stock_balance',title: '库存数量', width:100,edit: 'text'},
        {field:'goods_cost_price',title: '成本价', width:100,edit: 'text'},

        {field:'goods_market_price',title: '销售价', width:100,edit: 'text'},
        {field:'storehouse_name',title: '所在仓库', width:100,edit: 'text'},
    ]]

    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#table'
            ,data: _data
            ,height:450
            ,cols: _cols
            ,skin: 'row' //表格风格
            ,even: true
            ,id:'table'
            ,limit: 5000 //每页默认显示的数量
        });
        table.on('checkbox(table)', function(obj,i){
            var checkStatus = table.checkStatus('table')
                    ,data = checkStatus.data;
//            layer.alert(JSON.stringify(data));

            $('#retData').val(JSON.stringify(data))


        });

    });


</script>

</body>
</html>