<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="__PUBLIC__/libs/layui/css/layui.css"  media="all">
</head>
<body>
<textarea  style="display: none" id="retData"></textarea>
<div class="layui-btn-group demoTable"style="width: 95%;text-align: right;margin-top: 10px">
    <span class="layui-btn layui-btn-small " data-type="getCheckData"   onclick="parent.layer.closeAll()" >确定</span>
</div>

<table id="table" lay-filter="table" style=""></table>


<script src="__PUBLIC__/libs/jquery/2.x/jquery.js"></script>
<script src="__PUBLIC__/libs/layui/layui.js" charset="utf-8"></script>
<script src="__PUBLIC__/libs/layer/layer.js" charset="utf-8"></script>

<script>

    var _data =   JSON.parse('{$_list}');

    for (var i = 0;i<_data.length ;i++){
        _data[i].id = i + 1;

    }
    var _cols = [[ //标题栏
        {checkbox: true},
        {field:'entry_order_date',title: '日期', width:100,edit: 'text'},
        {field:'entry_order_id',title: '源单编号', width:100,edit: 'text'},
        {field:'entry_order_price',title: '单据金额', width:100,edit: 'text'},
        {field:'entry_order_account_payable',title: '应付金额', width:100,edit: 'text'},
        {field:'already_clear_price',title: '已核销金额', width:100,edit: 'text'},
        {field:'no_clear_price',title: '未核销金额', width:100,edit: 'text'},
        {field:'order_remark',title: '备注', width:100,edit: 'text'},
    ]]

    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#table'
            ,data: _data
            ,height:450
            ,cols: _cols
            ,skin: 'row' //表格风格
            ,even: true
            ,id:'table'
            ,limit: 5000 //每页默认显示的数量
        });
        table.on('checkbox(table)', function(obj,i){
            var checkStatus = table.checkStatus('table')
                    ,data = checkStatus.data;
//            layer.alert(JSON.stringify(data));

            $('#retData').val(JSON.stringify(data))


        });

    });


</script>

</body>
</html>