<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" href="__PUBLIC__/libs/layui/css/layui.css" media="all">
    <script language="javascript" src="__PUBLIC__/libs/print/LodopFuncs.js"></script>
    <link rel="stylesheet" href="__ADMIN_CSS__/common.css"  >
    <style id="style1">


        .nav-btn {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            margin-top: 30px;
        }

        .form-head-row {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: nowrap;
            margin-bottom: 5px;
            padding: 0 20px;
            font-size: 14px
        }

        .form-head-row .form-item {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
        }

        .form-head-row .form-item .title {
            flex: 1;

        }

        .form-head-row .form-item .input-content {
            position: relative;
            flex: 2.5;
        }

        .form-head-row .form-item .input-content .data-show {
            width: 100%;
        }

        #table thead tr th, #table tr td {
            /*padding: 0 !important;*/
            border: solid 1px black;
            text-align: center;
            font-size: 14px
        }

        tr td div {
            position: relative;
            display: inline-block;
            height: 100%;
            width: 100%;
            margin: 0;
        }

        .data-select input, .data-select select {
            display: block;
            margin: 0;
            width: 100%;
            height: 26px;
            border: none;
        }

        .data-select i {
            position: absolute;
            z-index: 11;
            right: 0px;
            top: 3px;
            background-color: #eee;
            border-radius: 3px;
            cursor: pointer;
            height: 20px;
            line-height: 20px;
            width: 30px;
            text-align: center;
        }


    </style>

</head>
<body>


<div class=" " id="page" style="width: 750px;margin: 0 20%;display: none">

    <div class=" demoTable nav-btn ">
        <button class="layui-btn layui-btn-small   " @click="goBack()">返回</button>
        &nbsp;
        <button class="layui-btn layui-btn-normal layui-btn-small" @click="audite()">审核</button>
        &nbsp;
        <button class="layui-btn layui-btn-primary layui-btn-small" @click="print()">打印</button>
    </div>

    <div id="div1">

        <div class="layui-row" style=" text-align: center">
            <span style="display: inline-block;font-size: 24px;border-bottom: 2px solid #000;margin: 10px auto;text-decoration:underline">材&nbsp;&nbsp;料&nbsp;&nbsp;出&nbsp;&nbsp;库&nbsp;&nbsp;单</span>
        </div>

        <div class="form-head-row">
            <div class="form-item " style="">
                <span class="title" style="">部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;门:</span>
                <div class="input-content "  >
                    <div class="data-show" style="">&nbsp;{{headInfo.customer_name}}</div>
                </div>
            </div>

            <div class="form-item " style="">
                <span class="title" style="">日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期:</span>
                <div class="input-content ">
                    <div class="data-show" style="">&nbsp;{{headInfo.out_order_date}}</div>
                </div>
            </div>

            <div class="form-item " style="">
                <span class="title" style="">单据编号:</span>
                <div class="input-content ">
                    <div class="data-show" style="">&nbsp;{{headInfo.out_order_id}}</div>

                </div>
            </div>
        </div>


        <div class="form-head-row">
            <div class="form-item " style="">
                <span class="title" style="">所属仓库:</span>
                <div class="input-content ">
                    <div class="data-show" style="">&nbsp;{{headInfo.storehouse_name}}</div>

                </div>
            </div>
            <div class="form-item " style="">
                <span class="title" style=" ">摘&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;要:</span>
                <div class="input-content " style="  ">
                    <div class="data-show" style="">&nbsp;{{headInfo.out_order_remark}}</div>

                </div>
            </div>

            <div class="form-item " style="">
                <span class="title" style="">&nbsp;</span>
                <div class="input-content ">
                    &nbsp;
                </div>
            </div>

        </div>

    </div>
    <div id="div2">
        <div class="layui-form layui-border-box layui-table-view" style="width:750px; ">
            <div class="layui-table-header" id="fixed-header">
                <table cellspacing="0" cellpadding="0" border="0" class="layui-table">
                    <thead>
                    <tr>
                        <th v-for="(item, index) in thead">
                            <div :style="{ width: item.width + 'px'}">
                                {{item.title}}
                            </div>
                        </th>

                        <th class="on-print">
                            <div class="layui-table-cell laytable-cell-2-18" align="center"><span>操作</span></div>
                        </th>

                    </tr>
                    </thead>
                </table>
            </div>

            <div class="layui-table-body layui-table-main" style="height:450px; " id="scroll">

                <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-size="sm">

                    <tbody>
                    <tr v-for="(item, index) in tableInfo">
                        <td>
                            <div :style="{ width: thead[0].width  + 'px',textAlign:'center'}">
                                {{index}}
                            </div>
                        </td>
                        <td>
                            <div class="input-content " :style="{ width: thead[1].width + 'px'}"

                                 style="height: 26px">
                                <div class="data-show">&nbsp;{{item.goods_id}}</div>
                                <div class="data-select" style="display: none;">
                                    <input type="text" v-model="item.goods_id" readonly/>

                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="input-content " :style="{ width: thead[2].width + 'px'}" >
                                <div class="data-show">&nbsp;{{item.goods_name}}</div>
                                <div class="data-select" style="display: none;">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-content " :style="{ width: thead[3].width + 'px'}" >
                                <div class="data-show">&nbsp;{{item.goods_spec}}</div>
                                <div class="data-select" style="display: none;">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-content " :style="{ width: thead[4].width + 'px'}"
                            >
                                <div class="data-show">&nbsp;{{item.goods_actual_unit=item.goods_actual_unit!=''?item.goods_actual_unit:item.goods_min_unit}}</div>
                                <div class="data-select" style="display: none;">
                                    <select class="unit" @change="unitChang($event,index)">


                                    </select>
                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="input-content " :style="{ width: thead[6].width + 'px'}"
                            >
                                <div class="data-show">&nbsp;{{item.goods_out_total_quantity}}</div>
                                <div class="data-select" style="display: none;">
                                    <input type="number" v-model="item.goods_out_total_quantity"
                                           @change="quantityChang(index)"/>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-content " :style="{ width: thead[6].width + 'px'}">
                                <div class="data-show">&nbsp;{{(item.goods_weight=item.goods_id!=''?item.goods_weight:'')+item.goods_min_unit}}</div>

                            </div>
                        </td>
                        <td>
                            <div class="input-content " :style="{ width: thead[5].width + 'px'}"
                            >
                                <div class="data-show">&nbsp;{{item.goods_out_unit_price}}
                                </div>
                                <div class="data-select" style="display: none;">
                                    <input type="number" v-model="item.goods_out_unit_price"
                                           @change="unitPriceChang(index)"/>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-content " :style="{ width: thead[7].width + 'px'}"
                            >
                                <div class="data-show">&nbsp;{{item.goods_out_total_price}}
                                </div>
                                <div class="data-select" style="display: none;">
                                    <input type="number" v-model="item.goods_out_total_price"
                                           @change="totalPriceChang(index)"/>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-content " :style="{ width: thead[8].width + 'px'}"
                            >
                                <div class="data-show">&nbsp;{{item.goods_remark}}</div>
                                <div class="data-select" style="display: none;">
                                    <input type="text" v-model="item.goods_remark"/>
                                </div>
                            </div>
                        </td>
                        <td :style="{ width: thead[0].width  + 'px',textAlign:'center'}">
                            <div class="layui-table-cell laytable-cell-2-18">
                                <a class="layui-btn layui-btn-danger layui-btn-mini" @click="deleteItem(index)">删除</a>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="layui-table-fixed layui-table-fixed-l">
                <div class="layui-table-header">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-size="sm">
                        <thead>
                        <tr>
                            <th :style="{ width: thead[0].width  + 'px',textAlign:'center'}">
                                <div class="input-content " style="height: 28px;line-height: 28px">
                                    <div class="data-show">&nbsp;ID</div>
                                </div>
                            </th>

                            <th :style="{ width: thead[1].width  + 'px',textAlign:'left '}">
                                <div class="input-content " style="height: 28px;line-height: 28px">
                                    <div class="data-show">商品编号</div>
                                </div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="layui-table-body" style="height: 435px; ">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-size="sm">
                        <tbody>
                        <tr v-for="(item, index) in tableInfo">
                            <td :style="{ width: thead[0].width  + 'px',textAlign:'center'}">
                                <div class="input-content " style="height: 26px;">
                                    <div class="data-show">&nbsp; {{index+1}}</div>
                                </div>
                            </td>
                            <td :style="{ width: thead[1].width  + 'px',textAlign:'center',backgroundColor:'' }">

                                <div class="input-content " style="height: 26px;"
                                >
                                    <div class="data-show" style="">&nbsp;{{item.goods_id}}</div>
                                    <div class="data-select" style="display: none;width: 100%;">
                                        <input type="text" style="" v-model="item.goods_id" readonly/>

                                        <i class="layui-icon" style="font-size: 12px; color: #1E9FFF;"
                                           @click="selectGoodsList()">&#xe615;</i>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layui-table-fixed layui-table-fixed-r" style="right: 0px;">
                <div class="layui-table-header">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-size="sm">
                        <thead>
                        <tr>
                            <th :style="{ width: 80  + 'px',textAlign:'center'}">

                                <div class="input-content " style="height: 28px;">
                                    <div class="data-show">操作</div>
                                </div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                    <div class="layui-table-mend"></div>
                </div>
                <div class="layui-table-body" style="height: 434px; ">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-size="sm">
                        <tbody>
                        <tr v-for="(item, index) in tableInfo">
                            <td :style="{ width: 80  + 'px',textAlign:'center'}">
                                <div class="layui-table-cell laytable-cell-2-18">
                                    <a class="layui-btn layui-btn-danger layui-btn-mini"
                                       @click="deleteItem(index)">删除</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div>
                <div  style="text-align: left;margin-left: 20px;margin-top: 10px">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        业务员: {{headInfo.clerk_name}}
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        制单人: {$_user_auth.nickname}
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        审核时间: {$_user_auth.audited_date}
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="print-content" style="display: none">
        <div id="print-headinfo">
            <div class="layui-row" style=" text-align: center">
                <span style="display: inline-block;font-size: 24px;border-bottom: 2px solid #000;margin: 10px auto;text-decoration:underline">材&nbsp;&nbsp;料&nbsp;&nbsp;出&nbsp;&nbsp;库&nbsp;&nbsp;单</span>
            </div>
            <div class="form-head-row">
                <div class="form-item " style="">
                    <span class="title" style="">部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;门:</span>
                    <div class="input-content "  >
                        <div class="data-show" style="">&nbsp;{{headInfo.customer_name}}</div>
                    </div>
                </div>

                <div class="form-item " style="">
                    <span class="title" style="">日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期:</span>
                    <div class="input-content ">
                        <div class="data-show" style="">&nbsp;{{headInfo.out_order_date}}</div>
                    </div>
                </div>

                <div class="form-item " style="">
                    <span class="title" style="">单据编号:</span>
                    <div class="input-content ">
                        <div class="data-show" style="">&nbsp;{{headInfo.out_order_id}}</div>

                    </div>
                </div>
            </div>


            <div class="form-head-row">
                <div class="form-item " style="">
                    <span class="title" style="">所属仓库:</span>
                    <div class="input-content ">
                        <div class="data-show" style="">&nbsp;{{headInfo.storehouse_name}}</div>

                    </div>
                </div>
                <div class="form-item " style="">
                    <span class="title" style=" ">摘&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;要:</span>
                    <div class="input-content " style="  ">
                        <div class="data-show" style="">&nbsp;{{headInfo.out_order_remark}}</div>

                    </div>
                </div>

                <div class="form-item " style="">
                    <span class="title" style="">&nbsp;</span>
                    <div class="input-content ">
                        &nbsp;
                    </div>
                </div>

            </div>


        </div>
        <div id="print-table">
            <table border=1 cellSpacing=0 cellPadding=1 width="100%" style="border-collapse:collapse;"
                   bordercolor="#333333">
                <thead>
                <tr>
                    <td width="5%">
                        <div align=center><b>序号</b></div>
                    </td>
                    <td width="15%">
                        <div align=center><b>商品编号</b></div>
                    </td>
                    <td width="20%">
                        <div align=center><b>名称</b></div>
                    </td>
                    <td width="10%">
                        <div align=center><b>规格</b></div>
                    </td>

                    <td width="5%">
                        <div align=center><b>单位</b></div>
                    </td>
                    <td width="5%">
                        <div align=center><b>数量</b></div>
                    </td>
                    <td width="10%">
                        <div align=center><b>重量</b></div>
                    </td>
                    <td width="5%">
                        <div align=center><b>单价</b></div>
                    </td>

                    <td width="10%">
                        <div align=center><b>金额</b></div>
                    </td>
                    <td width="15%">
                        <div align=center><b>备注</b></div>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in tableInfo">
                    <td>
                        {{index + 1}}
                    </td>
                    <td>
                        {{item.goods_id}}
                    </td>
                    <td>
                        {{item.goods_name}}
                    </td>
                    <td>
                        {{item.goods_spec}}
                    </td>
                    <td>
                        {{item.goods_actual_unit}}
                    </td>
                    <td>
                        {{item.goods_out_total_quantity}}
                    </td>
                    <td>
                        {{item.goods_weight+item.goods_min_unit}}
                    </td>
                    <td>
                        {{item.goods_out_unit_price}}
                    </td>
                    <td>
                        {{item.goods_out_total_price}}
                    </td>
                    <td>
                        {{item.goods_remark}}
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td ><b>合计</b></td>
                    <td ><b>&nbsp;</b></td>
                    <td ><b>&nbsp;</b></td>
                    <td ><b>&nbsp;</b></td>
                    <td ><b>&nbsp;</b></td>
                    <td ><b>&nbsp;</b></td>
                    <td ><b>&nbsp;</b></td>
                    <td ><b>&nbsp;</b></td>
                    <td ><b>{{headInfo.out_order_price}}</b></td>
                    <td ><b>&nbsp;</b></td>

                </tr>
                </tfoot>
            </table>
        </div>
        <div   id="table-foot">
            <div  style="text-align: left;margin-left: 20px;margin-top: 10px">

                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                    业务员: {{headInfo.clerk_name}}
                </div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                    制单人: {$_user_auth.nickname}
                </div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                    审核时间: {$_user_auth.audited_date}
                </div>
            </div>
        </div>

    </div>

</div>


</body>

<script src="__PUBLIC__/libs/jquery/2.x/jquery.js"></script>
<script src="__PUBLIC__/libs/vue/vue.js"></script>
<!--<script src="__PUBLIC__/libs/layui/layui.js" charset="utf-8"></script>-->
<script src="__PUBLIC__/libs/layer/layer.js" charset="utf-8"></script>
<script type="text/javascript" src="__ADMIN_JS__/common.js"></script>

<script>
    setTimeout(function () {
        $('#page').show()
    },1000);
    var LODOP; //声明为全局变量
    var _list =   eval('(' + '{$_list}' + ')');

    var thead = [ //标题栏
        {title: 'ID', width: 50},
        {title: '商品编号', width: 100},
        {title: '名称', width: 100},
        {title: '规格', width: 100},
        {title: '单位', width: 100},
        {title: '数量', width: 100},
        {title: '重量', width: 100},
        {title: '单价', width: 100},
        {title: '金额', width: 100},
        {title: '备注', width: 100}

    ];
    var _data = {
        scrollTop: 0,
        scrollLeft: 0,
        isSave: true,
        thead: thead,
        headInfo: {
            out_order_type_name: '{$out_order_type_name}',
            customer_id: '',
            customer_name: '',
            out_order_date: '',
            out_order_id: '',
            storehouse_name: '',
            out_order_price: '',
            out_order_actual_payment: '',
            out_order_remark: '',
            out_order_tax_rate:0,
            out_order_including_tax_price:0,
            out_order_account_receivable:0
        },
        tableInfo: [],
        tableData: []
    };


    var vm = new Vue({
        el: '#page',
        data: _data,
        watch: {
            headInfo: {
                handler: function (val, oldVal) {
                    this.isSave = false;
                },
                deep: true
            },
            tableInfo: {
                handler: function (val, oldVal) {
                    this.isSave = false;
                    this.tableData = [];
                    var out_order_price = 0;
                    for (var i = 0, leng = val.length; i < leng; i++) {
                        if (val[i].goods_id != '') {
                            this.tableData.push(val[i]);
                            out_order_price += parseFloat(val[i].goods_out_total_price);
                        }
                    }
                    this.headInfo.out_order_price = out_order_price;
                },
                deep: true
            },
            scrollTop: {
                handler: function (val, oldVal) {
                    $('.layui-table-fixed-l .layui-table-body table').css('margin-top', -val + 'px')
                    $('.layui-table-fixed-r .layui-table-body table').css('margin-top', -val + 'px')

                },
            },
            scrollLeft: {
                handler: function (val, oldVal) {
                    $('#fixed-header table').css('margin-left', -val + 'px')
                },
            },
        },
        methods: {
            init: function () {
                if(_list.length<=0){
                    layer.msg('读取数据失败！');
                    return false;
                }else{
                    this.headInfo = _list[0]
                    this.tableInfo = _list
                    this.deleteItem(-1)
                }
            },
            deleteItem: function (index) {

                if (index >= 0) {
                    this.tableInfo.splice(index, 1);
                }
                for (var i = 0; i < this.tableInfo.length; i++) {
                    if (this.tableInfo[i].goods_id === '') {
                        this.tableInfo.splice(i, 1)
                    }
                }


                var leng = this.tableInfo.length % 10 === 0 ? (this.tableInfo.length === 0 ? 10 : 0) : 10 - this.tableInfo.length % 10;


                for (var i = 0; i < leng + 5; i++) {
                    this.tableInfo.push({
                        goods_id: '',
                        goods_name: '',
                        goods_spec: '',
                        goods_actual_unit: '',
                        goods_out_unit_price: '',
                        goods_out_total_quantity: '',
                        goods_out_total_price: '',
                        goods_remark: '',

                        goods_min_unit: '',

                    })
                }

            },
            goBack: function () { //刷新
                location.href = '/corethink/admin.php?s=/admin/OutOrder/materialOutOrder'
            },
            audite: function () { //保存
                var self = this;
                if (_list.length <= 0) {
                    return false;
                }
                $.ajax({
                    url: '/corethink/admin.php?s=/admin/OutOrder/materialOutOrderDetails/id/-1',
                    type: 'POST', //GET
                    async: true,    //或false,是否异步
                    data: {
                        out_order_id:  _list[0].out_order_id,
                    },
                    dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                    beforeSend: function (xhr) {

                    },
                    success: function (data, textStatus, jqXHR) {
                        var data = eval('(' + data + ')');

                        if(data.error == '0000'){
                            layer.msg('审核成功');
                            setTimeout(function () {
                                window.location.reload();
                            },2000);
                        }else if(data.error == '0002'){
                            layer.msg('已审核');
                        }else{
                            layer.msg('审核失败');
                            console.log(data.error)
                        }

                    },
                    error: function (xhr, textStatus) {
                        console.log('错误')
                        console.log(xhr)
                        console.log(textStatus)
                    },
                    complete: function () {
                        console.log('结束')
                    }
                })


            },
            print: function () { //打印
                if (!this.isSave) {
                    layer.msg('单据未审核');
                    return;
                }
                LODOP = getLodop();
                LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_分页打印综合表格");

                var strMainStyle = '<link rel="stylesheet" href="__PUBLIC__/libs/layui/css/layui.css"  media="all">'
                strMainStyle += '<link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/main.css">'
                var strAllStyle = strMainStyle + "<style>" + document.getElementById("style1").innerHTML + "</style>";

                $('.print-content').show()
                LODOP.SET_PREVIEW_WINDOW(1, 2, 0, 1200, 800, "");//打印前弹出选择打印机的对话框
//                LODOP.SET_PRINT_PAGESIZE(1, '35cm', '11cm', 'CreateCustomPage');//纵(正)向打印，固定纸张

                LODOP.ADD_PRINT_TABLE($('#print-headinfo').height() + 30, 0, 750, 400, $("#print-table").html());
                LODOP.SET_PRINT_STYLEA(0, "VOrient", 0);
                LODOP.SET_PRINT_STYLEA(0, "Horient", 2);
                LODOP.ADD_PRINT_HTM( $('#print-headinfo').height() + 400 + 40 , 10, 750, 20, strAllStyle + $("#table-foot").html());
                LODOP.SET_PRINT_STYLEA(0, "VOrient", 0);
                LODOP.SET_PRINT_STYLEA(0, "Horient", 2);
                LODOP.SET_PRINT_STYLEA(0, "ItemType", 1);
                LODOP.SET_PRINT_STYLEA(0, "LinkedItem", 1);
                LODOP.ADD_PRINT_HTM(30, 0, 750, 150, strAllStyle + $('#print-headinfo').html());
                LODOP.SET_PRINT_STYLEA(0, "VOrient", 0);
                LODOP.SET_PRINT_STYLEA(0, "Horient", 2);
                LODOP.SET_PRINT_STYLEA(0, "ItemType", 1);
                LODOP.SET_PRINT_STYLEA(0, "LinkedItem", 1);
                $('.print-content').hide()
                LODOP.PREVIEW();
            },

        }
    })

    vm.init();

    $("#scroll").scroll(function () {
        vm.scrollTop = $(this).scrollTop()
        vm.scrollLeft = $(this).scrollLeft()

    });
</script>

</html>
