<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" href="__PUBLIC__/libs/layui/css/layui.css" media="all">
    <script language="javascript" src="__PUBLIC__/libs/print/LodopFuncs.js"></script>
    <link rel="stylesheet" href="__ADMIN_CSS__/common.css"  >
    <style id="style1">


        .nav-btn {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            margin-top: 30px;
        }

        .form-head-row {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            flex-wrap: nowrap;
            margin-bottom: 5px;
            padding: 0 20px;
            font-size: 14px
        }

        .form-head-row .form-item {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
        }

        .form-head-row .form-item .title {
            flex: 1;

        }

        .form-head-row .form-item .input-content {
            position: relative;
            flex: 2.5;
        }

        .form-head-row .form-item .input-content .data-show {
            width: 100%;
        }

        #table thead tr th, #table tr td {
            /*padding: 0 !important;*/
            border: solid 1px black;
            text-align: center;
            font-size: 14px
        }

        tr td div {
            position: relative;
            display: inline-block;
            height: 100%;
            width: 100%;
            margin: 0;
        }

        .data-select input, .data-select select {
            display: block;
            margin: 0;
            width: 100%;
            height: 26px;
            border: none;
        }

        .data-select i {
            position: absolute;
            z-index: 11;
            right: 0px;
            top: 3px;
            background-color: #eee;
            border-radius: 3px;
            cursor: pointer;
            height: 20px;
            line-height: 20px;
            width: 30px;
            text-align: center;
        }


    </style>

</head>
<body>


<div class=" " id="page" style="width: 750px;margin: 0 20%;display: none">

    <div class=" demoTable nav-btn ">
        <button class="layui-btn layui-btn-small   " @click="goBack()">返回</button>
        &nbsp;
        <button class="layui-btn layui-btn-primary layui-btn-small" @click="selectPaymentList()">生成</button>
        &nbsp;
        <button class="layui-btn layui-btn-normal layui-btn-small" @click="save()">保存</button>
        &nbsp;
        <button class="layui-btn layui-btn-primary layui-btn-small" @click="print()">打印</button>
    </div>

    <div id="div1">

        <div class="layui-row" style=" text-align: center">
            <span style="display: inline-block;font-size: 24px;border-bottom: 2px solid #000;margin: 10px auto;text-decoration:underline">付&nbsp;&nbsp;款&nbsp;&nbsp;单</span>
        </div>

        <div class="form-head-row">
            <div class="form-item " style="">
                <span class="title" style="">供&nbsp;&nbsp;应&nbsp;&nbsp;商:</span>
                <div class="input-content " @click="dataInputShow($event)" @mouseleave="dataInputHide($event)">
                    <div class="data-show" style="">&nbsp;{{headInfo.customer_name}}</div>
                    <div class="data-select" style="display: none;width: 100%;">
                        <input type="text" style="" v-model="headInfo.customer_name"/>
                        <i class="layui-icon" style="font-size: 12px; color: #1E9FFF;" @click="selectCustomerList()">
                            &#xe615;</i>
                    </div>
                </div>
            </div>

            <div class="form-item " style="">
                <span class="title" style="">日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期:</span>
                <div class="input-content ">
                    <div class="data-select" style="width: 100%;">
                        <input type="date" id="date" style="" v-model="headInfo.payment_order_date"/>
                    </div>
                </div>
            </div>

            <div class="form-item " style="">
                <span class="title" style="">单据编号:</span>
                <div class="input-content ">
                    <div class="data-select" style="width: 100%;">
                        <input type="text" style="" v-model="headInfo.payment_order_id" readonly
                               @change="checkOrderId(headInfo.payment_order_id)"/>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-head-row">
            <div class="form-item " style="">
                <span class="title" style="">付款类型:</span>
                <div class="input-content ">
                    <div class="data-select" style=" width: 100%;">
                        <select v-model="headInfo.payment_order_type_name">
                            <option value="采购付款">采购付款</option>
                            <option value="预付款">预付款</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-item " style="">
                <span class="title" style="">整单折扣:</span>
                <div class="input-content ">
                    <div class="data-select" style=" width: 100%;">
                        <div class="data-select" style=" width: 100%;">
                            <input type="number" style="width: 50px;display: inline-block" v-model="headInfo.payment_order_deposit_rate"/> %
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-item " style="">
                <span class="title" style="">折扣额:</span>
                <div class="input-content ">
                    <div class="data-select" style=" width: 100%;">
                        <input type="number" style="" v-model="headInfo.payment_order_deposit_after_price"  />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-head-row">


            <div class="form-item " style="">
                <span class="title" style="">单据金额:</span>
                <div class="input-content ">
                    <div class="data-select" style=" width: 100%;">
                        <input type="number" style="" v-model="headInfo.payment_order_price"/>
                    </div>
                </div>
            </div>

            <div class="form-item " style="">
                <span class="title" style="">应付金额:</span>
                <div class="input-content ">
                    <div class="data-select" style=" width: 100%;">
                        <input type="number" style="" v-model="headInfo.payment_order_should_payment_price"/>
                    </div>
                </div>
            </div>
            <div class="form-item " style="">
                <span class="title" style="">本次支付:</span>
                <div class="input-content ">
                    <div class="data-select" style=" width: 100%;">
                        <input type="number" style="" v-model="headInfo.payment_order_actual_payment"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-head-row">
            <div class="form-item " style="">
                <span class="title" style="flex: 1">摘&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;要:</span>
                <div class="input-content " style=" flex: 9">
                    <div class="data-select" style=" width: 100%; ">
                        <input type="text" style="" v-model="headInfo.payment_order_remark"/>
                    </div>
                </div>
            </div>
            <div class="form-item " style="">
                <span class="title" style="">&nbsp;</span>
                <div class="input-content ">
                    <div class="data-show" style="">&nbsp;</div>
                </div>
            </div>
            <div class="form-item " style="">
                <span class="title" style="">&nbsp;</span>
                <div class="input-content ">
                    <div class="data-show" style="">&nbsp;</div>
                </div>
            </div>
        </div>

    </div>
    <div id="div2">
        <div class="layui-form layui-border-box layui-table-view" style="width:750px; ">
            <div class="layui-table-header" id="fixed-header">
                <table cellspacing="0" cellpadding="0" border="0" class="layui-table">
                    <thead>
                    <tr>
                        <th v-for="(item, index) in thead">
                            <div :style="{ width: item.width + 'px'}">
                                {{item.title}}
                            </div>
                        </th>

                        <th class="on-print">
                            <div class="layui-table-cell laytable-cell-2-18" align="center"><span>操作</span></div>
                        </th>

                    </tr>
                    </thead>
                </table>
            </div>

            <div class="layui-table-body layui-table-main" style="height:450px; " id="scroll">

                <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-size="sm">

                    <tbody>
                    <tr v-for="(item, index) in tableInfo">
                        <td>
                            <div :style="{ width: thead[0].width  + 'px',textAlign:'center'}">
                                {{index}}
                            </div>
                        </td>


                        <td>
                            <div class="input-content " :style="{ width: thead[1].width + 'px'}" style="height: 26px">
                                <div class="data-show">&nbsp;{{item.entry_order_id}}</div>
                            </div>
                        </td>


                        <td>
                            <div class="input-content " :style="{ width: thead[1].width + 'px'}" style="height: 26px">
                                <div class="data-show">&nbsp;{{item.entry_order_date}}</div>
                            </div>
                        </td>

                        <td>
                            <div class="input-content " :style="{ width: thead[1].width + 'px'}" style="height: 26px">
                                <div class="data-show">&nbsp;{{item.entry_order_price}}</div>
                            </div>
                        </td>

                        <td>
                            <div class="input-content " :style="{ width: thead[1].width + 'px'}" style="height: 26px">
                                <div class="data-show">&nbsp;{{item.entry_order_account_payable}}</div>
                            </div>
                        </td>



                        <td>
                            <div class="input-content " :style="{ width: thead[1].width + 'px'}" style="height: 26px">
                                <div class="data-show">&nbsp;{{item.already_clear_price}}</div>
                            </div>
                        </td>

                        <td>
                            <div class="input-content " :style="{ width: thead[1].width + 'px'}" style="height: 26px">
                                <div class="data-show">&nbsp;{{item.no_clear_price}}</div>
                            </div>
                        </td>


                        <td>
                            <div class="input-content " :style="{ width: thead[1].width + 'px'}"
                                 @click="dataInputShow($event)" @mouseleave="dataInputHide($event)"
                                 style="height: 26px">
                                <div class="data-show">&nbsp;{{item.now_clear_price}}</div>
                                <div class="data-select" style="display: none;">
                                    <input type="text" v-model="item.now_clear_price" />

                                </div>
                            </div>
                        </td>

                        <td>
                            <div class="input-content " :style="{ width: thead[1].width + 'px'}"
                                 @click="dataInputShow($event)" @mouseleave="dataInputHide($event)"
                                 style="height: 26px">
                                <div class="data-show">&nbsp;{{item.order_remark}}</div>
                                <div class="data-select" style="display: none;">
                                    <input type="text" v-model="item.order_remark" />

                                </div>
                            </div>
                        </td>



                        <td :style="{ width: thead[0].width  + 'px',textAlign:'center'}">
                            <div class="layui-table-cell laytable-cell-2-18">
                                <a class="layui-btn layui-btn-danger layui-btn-mini" @click="deleteItem(index)">删除</a>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="layui-table-fixed layui-table-fixed-l">
                <div class="layui-table-header">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-size="sm">
                        <thead>
                        <tr>
                            <th :style="{ width: thead[0].width  + 'px',textAlign:'center'}">
                                <div class="input-content " style="height: 28px;line-height: 28px">
                                    <div class="data-show">&nbsp;ID</div>
                                </div>
                            </th>

                            <th :style="{ width: thead[1].width  + 'px',textAlign:'left '}">
                                <div class="input-content " style="height: 28px;line-height: 28px">
                                    <div class="data-show">源单编号</div>
                                </div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="layui-table-body" style="height: 435px; ">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-size="sm">
                        <tbody>
                        <tr v-for="(item, index) in tableInfo">
                            <td :style="{ width: thead[0].width  + 'px',textAlign:'center'}">
                                <div class="input-content " style="height: 26px;">
                                    <div class="data-show">&nbsp; {{index+1}}</div>
                                </div>
                            </td>
                            <td :style="{ width: thead[1].width  + 'px',textAlign:'center',backgroundColor:'' }">

                                <div class="input-content " style="height: 26px;" >
                                    <div class="data-show" style="">&nbsp;{{item.entry_order_id}}</div>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layui-table-fixed layui-table-fixed-r" style="right: 0px;">
                <div class="layui-table-header">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-size="sm">
                        <thead>
                        <tr>
                            <th :style="{ width: 80  + 'px',textAlign:'center'}">

                                <div class="input-content " style="height: 28px;">
                                    <div class="data-show">操作</div>
                                </div>
                            </th>
                        </tr>
                        </thead>
                    </table>
                    <div class="layui-table-mend"></div>
                </div>
                <div class="layui-table-body" style="height: 434px; ">
                    <table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-size="sm">
                        <tbody>
                        <tr v-for="(item, index) in tableInfo">
                            <td :style="{ width: 80  + 'px',textAlign:'center'}">
                                <div class="layui-table-cell laytable-cell-2-18">
                                    <a class="layui-btn layui-btn-danger layui-btn-mini"
                                       @click="deleteItem(index)">删除</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>


            <div class="form-head-row" style="margin: 10px auto">
                <div class="form-item " style="">
                    <span class="title" style="">部门:</span>
                    <div class="input-content " @click="dataInputShow($event)" @mouseleave="dataInputHide($event)">
                        <div class="data-show" style="">&nbsp;{{headInfo.department}}</div>
                        <div class="data-select" style="display: none;width: 100%;">
                            <input type="text" style="" v-model="headInfo.department"/>
                            <i class="layui-icon" style="font-size: 12px; color: #1E9FFF;" @click="selectDepartmentList()">
                                &#xe615;</i>
                        </div>
                    </div>
                </div>

                <div class="form-item " style="">
                    <span class="title" style="">业务员:</span>
                    <div class="input-content " @click="dataInputShow($event)" @mouseleave="dataInputHide($event)">
                        <div class="data-show" style="">&nbsp;{{headInfo.clerk_name}}</div>
                        <div class="data-select" style="display: none;width: 100%;">
                            <input type="text" style="" v-model="headInfo.clerk_name"/>
                            <i class="layui-icon" style="font-size: 12px; color: #1E9FFF;" @click="selectClerkList()">
                                &#xe615;</i>
                        </div>
                    </div>
                </div>

                <div class="form-item " style="">
                    <span class="title" style="">制单人:{$_user_auth.nickname}</span>
                </div>
                <div class="form-item " style="">
                    <span class="title" style="">审核时间:{{headInfo.audited_date}}</span>
                </div>
            </div>

        </div>
    </div>

    <div class="print-content" style="display: none">
        <div id="print-headinfo">
            <div class="layui-row" style=" text-align: center">
                <span style="display: inline-block;font-size: 24px;border-bottom: 2px solid #000;margin: 10px auto;text-decoration:underline">付&nbsp;&nbsp;款&nbsp;&nbsp;单</span>
            </div>

            <div class="form-head-row">
                <div class="form-item " style="">
                    <span class="title" style="">供&nbsp;&nbsp;应&nbsp;&nbsp;商:</span>
                    <div class="input-content " >
                        {{headInfo.customer_name}}
                    </div>
                </div>

                <div class="form-item " style="">
                    <span class="title" style="">日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期:</span>
                    <div class="input-content ">
                        {{headInfo.payment_order_date}}
                    </div>
                </div>

                <div class="form-item " style="">
                    <span class="title" style="">单据编号:</span>
                    <div class="input-content ">
                        {{headInfo.payment_order_id}}
                    </div>
                </div>
            </div>


            <div class="form-head-row">
                <div class="form-item " style="">
                    <span class="title" style="">付款类型:</span>
                    <div class="input-content ">
                        {{headInfo.payment_order_type_name}}
                    </div>
                </div>
                <div class="form-item " style="">
                    <span class="title" style="">整单折扣:</span>
                    <div class="input-content ">
                        {{headInfo.payment_order_deposit_rate}}

                    </div>
                </div>

                <div class="form-item " style="">
                    <span class="title" style="">折扣额:</span>
                    <div class="input-content ">
                        {{headInfo.payment_order_deposit_after_price}}
                    </div>
                </div>
            </div>
            <div class="form-head-row">


                <div class="form-item " style="">
                    <span class="title" style="">单据金额:</span>
                    <div class="input-content ">
                        {{headInfo.payment_order_price}}

                    </div>
                </div>

                <div class="form-item " style="">
                    <span class="title" style="">应付金额:</span>
                    <div class="input-content ">
                        {{headInfo.payment_order_should_payment_price}}

                    </div>
                </div>
                <div class="form-item " style="">
                    <span class="title" style="">本次支付:</span>
                    <div class="input-content ">
                        {{headInfo.payment_order_actual_payment}}

                    </div>
                </div>
            </div>

            <div class="form-head-row">
                <div class="form-item " style="">
                    <span class="title" style="flex: 1">摘&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;要:</span>
                    <div class="input-content " style=" flex: 9">
                        {{headInfo.payment_order_remark}}

                    </div>
                </div>
            </div>


        </div>
        <div id="print-table">
            <table border=1 cellSpacing=0 cellPadding=1 width="100%" style="border-collapse:collapse;"
                   bordercolor="#333333">
                <thead>
                <tr>
                    <td width="5%">
                        <div align=center><b>序号</b></div>
                    </td>
                    <td width="10%">
                        <div align=center><b>源单编号</b></div>
                    </td>
                    <td width="20%">
                        <div align=center><b>日期</b></div>
                    </td>
                    <td width="10%">
                        <div align=center><b>单据金额</b></div>
                    </td>

                    <td width="10%">
                        <div align=center><b>已核销</b></div>
                    </td>
                    <td width="10%">
                        <div align=center><b>未核销</b></div>
                    </td>

                    <td width="10%">
                        <div align=center><b>本次核销</b></div>
                    </td>
                    <td width="15%">
                        <div align=center><b>备注</b></div>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in tableInfo">
                    <td>
                        {{index + 1}}
                    </td>
                    <td>
                        {{item.entry_order_id}}
                    </td>
                    <td>
                        {{item.entry_order_date}}
                    </td>
                    <td>
                        {{item.entry_order_price}}
                    </td>
                    <td>
                        {{item.already_clear_price}}
                    </td>
                    <td>
                        {{item.no_clear_price}}
                    </td>
                    <td>
                        {{item.now_clear_price}}
                    </td>
                    <td>
                        {{item.order_remark}}
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td ><b>合计</b></td>
                    <td ><b>&nbsp;</b></td>
                    <td ><b>&nbsp;</b></td>
                    <td ><b>&nbsp;</b></td>
                    <td ><b>&nbsp;</b></td>
                    <td ><b>{{headInfo.payment_order_price}}</b></td>
                    <td ><b>&nbsp;</b></td>
                    <td ><b>&nbsp;</b></td>

                </tr>
                </tfoot>
            </table>
        </div>

        <div   id="table-foot">
            <div  style="text-align: left;margin-left: 20px">
                <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                    部门: {{headInfo.department}}
                </div>
                <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                    业务员: {{headInfo.clerk_name}}
                </div>
                <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                    制单人: {$_user_auth.nickname}
                </div>
                <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                    审核时间: {{headInfo.audited_date}}
                </div>
            </div>
        </div>

    </div>

</div>


</body>

<script src="__PUBLIC__/libs/jquery/2.x/jquery.js"></script>
<script src="__PUBLIC__/libs/vue/vue.js"></script>
<!--<script src="__PUBLIC__/libs/layui/layui.js" charset="utf-8"></script>-->
<script src="__PUBLIC__/libs/layer/layer.js" charset="utf-8"></script>
<script type="text/javascript" src="__ADMIN_JS__/common.js"></script>

<script>
    setTimeout(function () {
        $('#page').show()
    },1000);
    var LODOP; //声明为全局变量

    var thead = [ //标题栏
        {title: 'ID', width: 100},
        {title: '源单编号', width: 150},
        {title: '日期', width: 150},
        {title: '单据金额', width: 150},
        {title: '应付金额', width: 150},
        {title: '已核销金额', width: 150},
        {title: '未核销金额', width: 150},
        {title: '本次核销金额', width: 150},
        {title: '备注', width: 150}

    ];
    var _data = {
        scrollTop: 0,
        scrollLeft: 0,
        isSave :true,
        thead: thead,
        headInfo: {
            payment_order_type_name:'预付款',
            payment_order_deposit_rate:0,
            payment_order_deposit_after_price:0,
            payment_order_price:0,
            payment_order_should_payment_price:0,
            payment_order_actual_payment:0,
            payment_order_remark:'',

            customer_id: '',
            customer_name: '',
            payment_order_date: '',
            payment_order_id: '{$_order_id}',

            department:'',
            clerk_id:'',
            clerk_name:'',
        },
        tableInfo: [],
        tableData: []
    };


    var vm = new Vue({
        el: '#page',
        data: _data,
        watch: {
            headInfo: {
                handler: function (val, oldVal) {
                    this.headInfo.payment_order_price = parseFloat(this.headInfo.payment_order_price).toFixed(2);
                    this.headInfo.payment_order_deposit_after_price = (parseFloat(this.headInfo.payment_order_deposit_rate) * parseFloat(this.headInfo.payment_order_price)/100).toFixed(2);
                    this.headInfo.payment_order_should_payment_price = parseFloat(this.headInfo.payment_order_price) -  parseFloat(this.headInfo.payment_order_deposit_after_price);
                    this.headInfo.payment_order_actual_payment = parseFloat(this.headInfo.payment_order_actual_payment).toFixed(2);
                },
                deep: true
            },
            tableInfo: {
                handler: function (val, oldVal) {
                    this.isSave = false;
                    this.tableData = [];
                    var total_price = 0;
                    for (var i = 0, leng = val.length; i < leng; i++) {
                        console.log(val[i])
                        if (val[i].entry_order_id != '') {
                            this.tableData.push(val[i]);
                            total_price += parseFloat(val[i].no_clear_price);
                        }
                    }
                    console.log(total_price)
                    this.headInfo.payment_order_price = total_price;
                },
                deep: true
            },
            scrollTop: {
                handler: function (val, oldVal) {
                    $('.layui-table-fixed-l .layui-table-body table').css('margin-top', -val + 'px')
                    $('.layui-table-fixed-r .layui-table-body table').css('margin-top', -val + 'px')

                },
            },
            scrollLeft: {
                handler: function (val, oldVal) {
                    $('#fixed-header table').css('margin-left', -val + 'px')
                },
            },
        },
        methods: {
            init: function () {
                this.deleteItem(-1)
            },
            checkOrderId: function (payment_order_id) {
                var self = this;
                $.ajax({
                    url: '/corethink/admin.php?s=/admin/public/checkPaymentOrderId',
                    type: 'POST', //GET
                    async: true,    //或false,是否异步
                    data: {
                        payment_order_id: payment_order_id,
                    },
                    dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                    beforeSend: function (xhr) {
                    },
                    success: function (data, textStatus, jqXHR) {
                        var data = eval('(' + data + ')');

                        if(data.error == '0000'){

                        }else{
                            layer.msg('单据'+payment_order_id+'已存在！');
                            self.headInfo.payment_order_id = '';
                        }
                    },
                    error: function (xhr, textStatus) {
                        console.log('错误')
                        console.log(xhr)
                        console.log(textStatus)
                    },
                    complete: function () {
                        console.log('结束')
                    }
                })
            },
            dataInputShow: function (event) {
                var ele = event.currentTarget;
                $(ele).children('div').hide();
                $(ele).children('.data-select').css('display', 'inline-block');
                $(ele).children('.data-select').children('input').focus();
            },
            dataInputHide: function (event) {
                var ele = event.currentTarget;
                $(ele).children('div').hide();
                $(ele).children('.data-show').css('display', 'inline-block');
            },
            Arabia_to_Chinese: function (Num) {
                for (i = Num.length - 1; i >= 0; i--) {
                    Num = Num.replace(",", "")//替换tomoney()中的“,”
                    Num = Num.replace(" ", "")//替换tomoney()中的空格
                }
                Num = Num.replace("￥", "")//替换掉可能出现的￥字符
                if (isNaN(Num)) { //验证输入的字符是否为数字
                    alert("请检查小写金额是否正确");
                    return;
                }
                //字符处理完毕后开始转换，采用前后两部分分别转换
                part = String(Num).split(".");
                newchar = "";
                //小数点前进行转化
                for (i = part[0].length - 1; i >= 0; i--) {
                    if (part[0].length > 10) {
                        alert("位数过大，无法计算");
                        return "";
                    }//若数量超过拾亿单位，提示
                    tmpnewchar = ""
                    perchar = part[0].charAt(i);
                    switch (perchar) {
                        case "0":
                            tmpnewchar = "零" + tmpnewchar;
                            break;
                        case "1":
                            tmpnewchar = "壹" + tmpnewchar;
                            break;
                        case "2":
                            tmpnewchar = "贰" + tmpnewchar;
                            break;
                        case "3":
                            tmpnewchar = "叁" + tmpnewchar;
                            break;
                        case "4":
                            tmpnewchar = "肆" + tmpnewchar;
                            break;
                        case "5":
                            tmpnewchar = "伍" + tmpnewchar;
                            break;
                        case "6":
                            tmpnewchar = "陆" + tmpnewchar;
                            break;
                        case "7":
                            tmpnewchar = "柒" + tmpnewchar;
                            break;
                        case "8":
                            tmpnewchar = "捌" + tmpnewchar;
                            break;
                        case "9":
                            tmpnewchar = "玖" + tmpnewchar;
                            break;
                    }
                    switch (part[0].length - i - 1) {
                        case 0:
                            tmpnewchar = tmpnewchar + "元";
                            break;
                        case 1:
                            if (perchar != 0) tmpnewchar = tmpnewchar + "拾";
                            break;
                        case 2:
                            if (perchar != 0) tmpnewchar = tmpnewchar + "佰";
                            break;
                        case 3:
                            if (perchar != 0) tmpnewchar = tmpnewchar + "仟";
                            break;
                        case 4:
                            tmpnewchar = tmpnewchar + "万";
                            break;
                        case 5:
                            if (perchar != 0) tmpnewchar = tmpnewchar + "拾";
                            break;
                        case 6:
                            if (perchar != 0) tmpnewchar = tmpnewchar + "佰";
                            break;
                        case 7:
                            if (perchar != 0) tmpnewchar = tmpnewchar + "仟";
                            break;
                        case 8:
                            tmpnewchar = tmpnewchar + "亿";
                            break;
                        case 9:
                            tmpnewchar = tmpnewchar + "拾";
                            break;
                    }
                    newchar = tmpnewchar + newchar;
                }
                //小数点之后进行转化
                if (Num.indexOf(".") != -1) {
                    if (part[1].length > 2) {
                        alert("小数点之后只能保留两位,系统将自动截断");
                        part[1] = part[1].substr(0, 2)
                    }
                    for (i = 0; i < part[1].length; i++) {
                        tmpnewchar = ""
                        perchar = part[1].charAt(i)
                        switch (perchar) {
                            case "0":
                                tmpnewchar = "零" + tmpnewchar;
                                break;
                            case "1":
                                tmpnewchar = "壹" + tmpnewchar;
                                break;
                            case "2":
                                tmpnewchar = "贰" + tmpnewchar;
                                break;
                            case "3":
                                tmpnewchar = "叁" + tmpnewchar;
                                break;
                            case "4":
                                tmpnewchar = "肆" + tmpnewchar;
                                break;
                            case "5":
                                tmpnewchar = "伍" + tmpnewchar;
                                break;
                            case "6":
                                tmpnewchar = "陆" + tmpnewchar;
                                break;
                            case "7":
                                tmpnewchar = "柒" + tmpnewchar;
                                break;
                            case "8":
                                tmpnewchar = "捌" + tmpnewchar;
                                break;
                            case "9":
                                tmpnewchar = "玖" + tmpnewchar;
                                break;
                        }
                        if (i == 0) tmpnewchar = tmpnewchar + "角";
                        if (i == 1) tmpnewchar = tmpnewchar + "分";
                        newchar = newchar + tmpnewchar;
                    }
                }
                //替换所有无用汉字
                while (newchar.search("零零") != -1)
                    newchar = newchar.replace("零零", "零");
                newchar = newchar.replace("零亿", "亿");
                newchar = newchar.replace("亿万", "亿");
                newchar = newchar.replace("零万", "万");
                newchar = newchar.replace("零元", "元");
                newchar = newchar.replace("零角", "");
                newchar = newchar.replace("零分", "");
                if (newchar.charAt(newchar.length - 1) == "元" || newchar.charAt(newchar.length - 1) == "角")
                    newchar = newchar + "整"
                return newchar;
            },
            deleteItem: function (index) {

                if (index >= 0) {
                    this.tableInfo.splice(index, 1);
                }
                for (var i = 0; i < this.tableInfo.length; i++) {
                    if (this.tableInfo[i].entry_order_id === '') {
                        this.tableInfo.splice(i, 1)
                    }
                }


                var leng = this.tableInfo.length % 10 === 0 ? (this.tableInfo.length === 0 ? 10 : 0) : 10 - this.tableInfo.length % 10;


                for (var i = 0; i < leng + 5; i++) {
                    this.tableInfo.push({
                        entry_order_id: '',
                        entry_order_date: '',
                        entry_order_price:'',
                        entry_order_account_payable:'',
                        already_clear_price: '',
                        no_clear_price: '',
                        now_clear_price: '',
                        order_remark: ''

                    })
                }

            },
            goBack: function () { //刷新
                if(!this.isSave){
                    layer.confirm('单据还未保存，确定关闭吗？', {
                        btn: ['取消','确定'] //按钮
                    }, function(){
                        layer.closeAll();
                    }, function(){
                        location.href = '/corethink/admin.php?s=/admin/PaymentOrder/index'
                        layer.closeAll();
                    });
                }else {
                    location.href = '/corethink/admin.php?s=/admin/PaymentOrder/index'
                }
            },
            save: function () { //保存
                var self = this;
                $.ajax({
                    url: '/corethink/admin.php?s=/admin/PaymentOrder/paymentOrderAdd',
                    type: 'POST', //GET
                    async: true,    //或false,是否异步
                    data: {
                        headInfo:  (self.headInfo),
                        tableInfo:  (self.tableData),

                    },
                    dataType: 'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                    beforeSend: function (xhr) {
                        var flag = true;

                        if (self.headInfo.customer_name == '') {
                            layer.msg('请选择供应商');
                            flag = false;
                        } else if (self.headInfo.payment_order_date == '') {
                            layer.msg('请选择日期');
                            flag = false;
                        } else if (self.headInfo.payment_order_id == '') {
                            layer.msg('请填写单据编号');
                            flag = false;
                        } else if (self.headInfo.payment_order_price == ''||self.headInfo.payment_order_price == 0) {
                            layer.msg('请填写单据金额');
                            flag = false;
                        } else if (self.headInfo.payment_order_actual_payment == ''||self.headInfo.payment_order_actual_payment == 0) {
                            layer.msg('请填写本次支付');
                            flag = false;
                        } else if (self.headInfo.department == '') {
                            layer.msg('请选择部门');
                            flag = false;
                        } else if (self.headInfo.clerk_name == '') {
                            layer.msg('请选择业务员');
                            flag = false;
                        }


                        return flag
                    },
                    success: function (data, textStatus, jqXHR) {
                        var data = eval('(' + data + ')');

                        if(data.error == '0000'){
                            layer.msg('保存成功');
                            self.isSave = true;
                        }else{
                            layer.msg(data.msg);
                        }

                    },
                    error: function (xhr, textStatus) {
                        console.log('错误')
                        console.log(xhr)
                        console.log(textStatus)
                    },
                    complete: function () {
                        console.log('结束')
                    }
                })


            },
            print: function () { //打印
                if (!this.isSave) {
                    layer.msg('单据为保存');
                    return;
                }
                LODOP = getLodop();
                LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_分页打印综合表格");

                var strMainStyle = '<link rel="stylesheet" href="__PUBLIC__/libs/layui/css/layui.css"  media="all">'
                strMainStyle += '<link rel="stylesheet" type="text/css" href="__ADMIN_CSS__/main.css">'
                var strAllStyle = strMainStyle + "<style>" + document.getElementById("style1").innerHTML + "</style>";

                $('.print-content').show()
                LODOP.SET_PREVIEW_WINDOW(1, 2, 0, 1200, 800, "");//打印前弹出选择打印机的对话框
//                LODOP.SET_PRINT_PAGESIZE(1, '35cm', '11cm', 'CreateCustomPage');//纵(正)向打印，固定纸张

                LODOP.ADD_PRINT_TABLE($('#print-headinfo').height() + 30, 0, 750, 400, $("#print-table").html());
                LODOP.SET_PRINT_STYLEA(0, "VOrient", 0);
                LODOP.SET_PRINT_STYLEA(0, "Horient", 2);
                LODOP.ADD_PRINT_HTM( $('#print-headinfo').height() + 400 + 40 , 10, 750, 20, strAllStyle + $("#table-foot").html());
                LODOP.SET_PRINT_STYLEA(0, "VOrient", 0);
                LODOP.SET_PRINT_STYLEA(0, "Horient", 2);
                LODOP.SET_PRINT_STYLEA(0, "ItemType", 1);
                LODOP.SET_PRINT_STYLEA(0, "LinkedItem", 1);
                LODOP.ADD_PRINT_HTM(30, 0, 750, 150, strAllStyle + $('#print-headinfo').html());
                LODOP.SET_PRINT_STYLEA(0, "VOrient", 0);
                LODOP.SET_PRINT_STYLEA(0, "Horient", 2);
                LODOP.SET_PRINT_STYLEA(0, "ItemType", 1);
                LODOP.SET_PRINT_STYLEA(0, "LinkedItem", 1);
                $('.print-content').hide()
                LODOP.PREVIEW();
            },
            selectCustomerList: function () {
                var self = this;
                var childPageBody;
                layer.open({
                    type: 2,
                    skin: 'CLYM-style',
                    area: ['500px', '560px'],
                    title: '供应商列表',
                    content: '/corethink/admin.php?s=/admin/public/customerList/type/供应商',
                    success: function (layero, index) {
                        childPageBody = layer.getChildFrame('body', index);//建立父子联系
                    },
                    end: function () {
                        var ret = childPageBody.find('textarea#retData')
                        var retInfo = ret.val()
                        if (retInfo != '') {
                            retInfo = JSON.parse(retInfo)
                            self.headInfo.customer_id = retInfo.customer_id;
                            self.headInfo.customer_name = retInfo.customer_name;
                        }

                        console.log(retInfo)
                    }
                });
            },
            selectPaymentList: function () {
                var self = this;
                if(self.headInfo.customer_id==''){
                    layer.msg('请选择供应商！');
                    return false;
                }
                var childPageBody;
                layer.open({
                    type: 2,
                    skin: 'CLYM-style',
                    area: ['800px', '560px'],
                    title: '应付账单列表',
                    content: '/corethink/admin.php?s=/admin/public/paymentList/customer_id/'+self.headInfo.customer_id,
                    success: function (layero, index) {
                        childPageBody = layer.getChildFrame('body', index);//建立父子联系
                    },
                    end: function () {
                        var ret = childPageBody.find('textarea#retData')
                        var retInfo = ret.val()
                        if (retInfo != '') {
                            retInfo = JSON.parse(retInfo)
                            var tableData = [];

                            for (var i = 0; i < self.tableInfo.length; i++) {
                                if (self.tableInfo[i].entry_order_id != '') {
                                    tableData.push(self.tableInfo[i])
                                }
                            }

                            for (var i = 0, leng = retInfo.length; i < leng; i++) {
                                var j = 0;
                                var l = self.tableInfo.length;

                                for (; j < l; j++) {

                                    if (self.tableInfo[j].entry_order_id == retInfo[i].entry_order_id) {
                                        break;
                                    }
                                }
                                console.log(retInfo[i])
                                if (j == l) {
                                    tableData.push({
                                        entry_order_id: retInfo[i].entry_order_id,
                                        entry_order_date: retInfo[i].entry_order_date,
                                        entry_order_price:retInfo[i].entry_order_price,
                                        entry_order_account_payable:retInfo[i].entry_order_account_payable,
                                        already_clear_price: retInfo[i].already_clear_price,
                                        no_clear_price: retInfo[i].no_clear_price,
                                        now_clear_price: retInfo[i].no_clear_price,
                                        order_remark: retInfo[i].order_remark,


                                    });
                                }
                            }
                            console.log(tableData);
                            self.tableInfo = tableData;
                            self.deleteItem(-1);
                        }


                    }
                });
            },
            selectClerkList:function () {
                var self = this;
                var childPageBody;
                layer.open({
                    type: 2,
                    skin: 'CLYM-style',
                    area: ['500px', '560px'],
                    title: '业务员列表',
                    content: '/corethink/admin.php?s=/admin/public/clerkList',
                    success: function (layero, index) {
                        childPageBody = layer.getChildFrame('body', index);//建立父子联系
                    },
                    end: function () {
                        var ret = childPageBody.find('textarea#retData')
                        var retInfo = ret.val()
                        if (retInfo != '') {
                            retInfo = JSON.parse(retInfo)
                            self.headInfo.clerk_id = retInfo.clerk_id;
                            self.headInfo.clerk_name = retInfo.clerk_name;
                        }

                        console.log(retInfo)
                    }
                });
            },
            selectDepartmentList: function () {
                var self = this;
                var childPageBody;
                layer.open({
                    type: 2,
                    skin: 'CLYM-style',
                    area: ['500px', '560px'],
                    title: '部门列表',
                    content: '/corethink/admin.php?s=/admin/public/departmentList',
                    success: function (layero, index) {
                        childPageBody = layer.getChildFrame('body', index);//建立父子联系
                    },
                    end: function () {
                        var ret = childPageBody.find('textarea#retData')
                        var retInfo = ret.val()
                        if (retInfo != '') {
                            retInfo = JSON.parse(retInfo)
                            self.headInfo.department = retInfo.customer_name;
                        }

                        console.log(retInfo)
                    }
                });
            },
        }
    })

    vm.init();

    $("#scroll").scroll(function () {
        vm.scrollTop = $(this).scrollTop()
        vm.scrollLeft = $(this).scrollLeft()

    });
    $("input[type='number']").change(function () {
         var value = $(this).val();
        console.log(value)

    });
    var _closeDate = '{$_closeDate}';
    if(_closeDate && _closeDate!==''){
        $('input[type="date"]').attr('min',getDate(_closeDate));
    }
</script>

</html>
